:root {
  --pink: hsl(338, 70%, 55%);
  --teal: hsl(183, 70%, 62%);
  --white: hsl(334, 7%, 95%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: hsl(224, 32%, 12%);
  background-image: conic-gradient(from 0deg at 50% 50%, blue, purple, purple, blue);
  background-blend-mode: multiply;
  color: white;
  min-block-size: 100dvh;
  display: grid;
  place-items: center;
}
pre {
  --selector: var(--pink);
  --property: var(--teal);
  --punctuation: var(--white);
  position: relative;
  font-size: 3rem;
  font-weight: bold;
  background: hsl(222, 45%, 7%);
  padding: 2rem;
  border-radius: 1rem;
  transform: perspective(5000px) rotateY(var(--rotateY)) rotateX(var(--rotateX));
  transform-style: preserve-3d;
}
.selector {
  color: var(--selector);
}
.property {
  color: var(--property);
}
.property + .punctuation {
  color: var(--property);
}
.punctuation {
  color: var(--punctuation);
}
pre > * {
  text-shadow: 0 0 0.3em currentColor;
}
pre::before,
pre::after {
  content: '';
  position: absolute;
  border-radius: inherit;
}
pre::before {
  inset: 0.75rem;
  background: black;
  transform: translateZ(-49px);
  filter: blur(15px);
  opacity: 0.5;
}
pre::after {
  inset: -1rem;
  background: linear-gradient(-45deg, red, blue);
  transform: translateZ(-50px);
}
